@import '../../node_modules/bootstrap/dist/css/bootstrap.css';

html {
    font-size: 15px;
}

body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #ffffff;
    background-color: #222222;
}

h1 {
    font-weight: bold;
}

#myCanvas {
    border: 1px solid black;
    background-color: #ffffff;
    border-radius: 5px;
}

.app-container {
    padding-top: 20px;
    width: 930px;
}

input {
    border-radius: 5px;
    color: #222;
}
